<template>
  <div class="tiptap">
    <div class="editor" v-if="editor">
      <button @click="addImage">setImage</button>
      <editor-content :editor="editor" />
      <button v-show="showButton" @click="toggleResize">{{ isDraggable ? 'Dragging' : 'Resizing' }}</button>
    </div>
  </div>
</template>

<script>
import { Editor, EditorContent } from '@tiptap/vue-2';
import StarterKit from '@tiptap/starter-kit';
import ResizableImage from "@/components/tiptap/ResizableImage";
import Image from '@tiptap/extension-image'

// Exemple image resize https://ralphdeving.github.io/blog/post/tiptap-image-resize-vue/
// Pour faire apparaitre le bouton de 'resize' il faut cliquer sur l'image ajoutée
// Le resize ne fonctionne pas, je ne vois pas ou est l'erreur ça vient peut être du module @tiptap/extension-image qui ne s'installe pas correctement

export default {
  components: {
    EditorContent,
  },
  name: 'TiptapEditor',

  data() {
    return {
      editor: null,
    }
  },

  mounted() {
    this.editor = new Editor({
      content: '',
      extensions: [
        StarterKit,
        Image,
        ResizableImage.configure({
          inline: true
        })
      ],
      onUpdate: () => {
        this.$emit('input', this.editor.getHTML());
      }
    })
  },

  computed: {
    showButton() {
      return this.editor?.state?.selection?.node?.type?.name === 'ResizableImage';
    },
    isDraggable() {
      return this.editor?.state?.selection?.node?.attrs?.isDraggable;
    }
  },

  methods: {
    // ajouter une image avec son url
    addImage() {
      const url = window.prompt('URL')

      if (url) {
        this.editor.chain().focus().setImage({ src: url }).run()
      }
    },
    toggleResize() {
      this.editor.chain().focus().toggleResizable().run();
    }
  },

  watch: {
    value(value) {
      const isSame = this.editor.getHTML() === value;
      if (isSame) {
        return;
      }
      this.editor.commands.setContent(value, false);
    }
  },

  beforeDestroy() {
    this.editor.destroy();
  }
}
</script>

<style>

.ProseMirror {
  border: 1px solid lightgray;
}
</style>
