<template>
  <div id="app">
    <EditorsTest/>
  </div>
</template>

<script>
import EditorsTest from './components/EditorsTest.vue';

export default {
  name: 'App',
  components: {
    EditorsTest
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>

