<template>
  <div class="test">
    <p>Vue2 Editor</p>
    <vue-editor />

    <p>Tiptap</p>
    <tiptap-editor />
  </div>
</template>

<script>
import VueEditor from "@/components/VueEditor";
import TiptapEditor from "@/components/tiptap/TiptapEditor";

export default {
  components: {
    VueEditor,
    TiptapEditor
  },
  name: 'EditorsTest',
}
</script>

<style scoped>
p {
  margin: 40px 0;
}
</style>
