<template>
  <div class="vue-editor">
    <vue-editor v-model="content" :editorOptions="editorSettings"></vue-editor>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor";
// import { ImageDrop } from "quill-image-drop-module";
// import ImageResize from "quill-image-resize-module";

// Quill.register('modules/imageDrop', ImageDrop);
// Quill.register('modules/imageResize', ImageResize);

export default {
  components: {
    VueEditor
  },

  // image drop and resize doesn't work'

  data() {
    return {
      name: 'vueEditor',
      content: 'Some content here !',
      editorSettings: {
        modules: {
          // ImageDrop: true,
          // imageResize: {
          //   displayStyles: {
          //     backgroundColor: "black",
          //     border: "none",
          //     color: "white",
          //   },
          // },
        },
      },
    };
  },
}
</script>

<style scoped>
</style>
